.catalog-preview {
    padding: 20px;
    background-color: #f9f9f9;
    margin-bottom: 60px;
}

.catalog-title {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 50px;
    color: #333;
}

.preview-tiles {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
}

