.catalog-preview {
    padding: 20px;
    background-color: #f9f9f9;
    margin-bottom: 60px;
    margin-left: 150px;
    margin-right: 150px;
    justify-content: center;
    align-items: center;
}

.catalog-title {
    text-align: center;
    font-size: 2em;
    margin-bottom: 50px;
    color: #333;
}

.preview-tiles {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
    gap: 20px;
}

button {
    margin-top: 20px;
    font-size: medium;
}