.item-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    max-width: 600px;
    max-height: 1000px;
    margin: 20px auto;
    gap: 2px;
    /* This will create spacing between the child elements */
}

.item-page img {
    max-width: 280px;
    height: auto;
    border-radius: 5px;
}

.item-page h2 {
    font-size: 1.8rem;
}

.item-page p {
    font-size: 1.2rem;
    color: #333;
}

hr {
    width: 80%;
    margin: 20px auto;
}

.amount-container,
.color-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.amount-container label,
.color-container label {
    margin-right: 10px;
}

.amount-container input{
    width: 25px;
    padding: 5px;
    text-align: center;
}

.color-container select{
    width: 200px;
    padding: 0px;
    text-align: center;
}

.toggle-container input {
    width: 20px;
    height: 20px;
}

/* Remove margin from .buy-now and use flex properties instead */
.item-page button {
    font-size: large;
    /* Removed margin-top and margin-bottom */
    margin-top: 20px;
    /* This pushes the button to the bottom of the flex container */
    margin-bottom: 10px;
    /* Keep this if you want spacing below the button */
}

.buy-now {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.buy-now:hover {
    background-color: #0056b3;
}

.notification {
    margin-top: 20px;
    padding: 10px;
    background-color: #dff0d8;
    color: #000000;
    border: 1px solid #d6e9c6;
    border-radius: 5px;
    text-align: center;
}